<!DOCTYPE html>
<html>
<head>
  <title>HaveFun</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <% if @js_page %>
	  <%= javascript_include_tag @js_page %>
	<% end %>
</head>
<body id="<%= @page_id %>">

<%= yield %>

</body>
</html>
